@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Urbanist", sans-serif;
}

nav {
  background-color: #ff6800;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-left img {
  filter: brightness(0) invert(1);
}

.navbar-right ul li {
  padding-top: 8px;
  cursor: pointer;
}

.navbar-right ul li a {
  text-decoration: none;
  color: #dedede;
}

.active {
  border-bottom: 4px solid #fff;
  padding-bottom: 5px;
}

main {
  margin-top: 50px;
  height: auto;
}

main select {
  width: 100px;
  height: 30px;
  border-radius: 99px;
  text-align: center;
}

@media (max-width: 468px) {
  .title {
    gap: 8px !important;
  }
}
